<tr>
    <td> <%= link_to user.name, user %> </td>
    <td> <%= link_to user.email, user %> </td>
    <% if current_user != nil && current_user.admin? %>
        <td> <%= link_to "delete", user, :method => :delete, :confirm => "You sure?", :title => "Delete #{user.name}" %> </td>
    <% end %>
</tr>
