<h1> All hotels   </h1>
<div class="field">
    <%= link_to "添加酒店", new_hotel_path, :class => "index_add_button round" %>
</div>
<%= will_paginate %>
<table>
    <tr>
        <th> 位置 </th>
        <th> 价格 </th>
        <th> 总房间数目 </th>
        <th> 空闲房间数目 </th>
        <th> 操作 </th>
    </tr>
    <%= render @hotels %>
</table>

<%= will_paginate %>